ul.header-card
  li.header-card__item Гостиницы
  li.header-card__item Жилищные комплексы
  li.header-card__item Промышленные объекты
  li.header-card__item Склады
  li.header-card__item Торговые комплексы
  li.header-card__item ТРК
  li.header-card__item Помещения общего назначения
  li.header-card__item.header-card__view-more смотреть все