.container_round
  .header-card__list 
    .header-card__list__item Гостиницы
    .header-card__list__item Жилищные комплексы
    .header-card__list__item Промышленные объекты
    .header-card__list__item Склады
    .header-card__list__item Торговые комплексы
    .header-card__list__item ТРК
    .header-card__list__item Помещения общего назначения
    .header-card__view-more смотреть все