ul.header-card
  li.header-card__item: a Гостиницы
  li.header-card__item: a Жилищные комплексы
  li.header-card__item: a Промышленные объекты
  li.header-card__item: a Склады
  li.header-card__item: a Торговые комплексы
  li.header-card__item: a ТРК
  li.header-card__item: a Помещения общего назначения
  li.header-card__item.header-card__view-more смотреть все