@use 'src/styles/general/typography' as *;
@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/media' as *;

.button{
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  @include manrope-14();
  display: flex;
  gap: 10px;
  align-items: baseline;
  text-transform: uppercase;
  width: max-content;
  transition: all $transition-duration ease;
  &_transparent{
    color: $white;
    background-color: rgba(255, 255, 255, 0.15);
    &:hover{
      background-color: rgba(255, 255, 255, 0.5);
      color: $black;
    }
  }
  &_gray{
    color: $black;
    background-color: $gray;
    &:hover{
      background-color: rgba($black, 0.1);
    }
  }

  &_white{
    background-color: $white;
    color: $blue;
    &:hover{
      background-color: $gray;
    }
  }
  &_circle{
    width: 194px;
    height: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    @include manrope-14();
    color: $white;
  }
  &_dark{
    background-color: $black;
    color: $white;
    &:hover{
      background-color: rgba($black, 0.9);
    }
  }
  
  &_social{
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(46, 46, 46, 0.2);
  }
  @media screen and (max-width: $tablet800) {
    @include manrope-12();
    width: 100%;
    justify-content: center;
  }
}

.button-switch{
  border-radius: 50px;
  border: 1px solid $white;
  width: 72px;
  height: 40px;
  position: relative;
  &__mark{
    position: absolute;
    transition: left 250ms ease;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
  }

}

.button-close{
  width: 37px;
  height: 37px;
  background-color: rgba($white, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &::before{
    content: "";
    background-image: url("media/static/icons/close/close_white.svg");
    background-size: contain;
    display: block;
    width: 9px;
    height: 9px;
  }
}

.arrow-button{
  width: 86px;
  height: 86px;
  position: relative;
  border-radius: 50%;
  border: 1px solid $white;
  &::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 41px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("media/static/icons/arrow/arrow_long_white.svg");
  }
  &_left{
    &::before{
      transform:translate(-50%, -50%) rotate(-180deg);
    }
  }
  &_down{
    &::before{
      transform:translate(-50%, -50%) rotate(90deg);
    }
  }
  &_large{
    width: 194px;
    height: 194px;
  }
}