@use 'src/styles/general/typography' as *;
@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/media' as *;
@use "styles/utils";

.button{
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  @include manrope-14();
  display: flex;
  gap: 10px;
  align-items: baseline;
  text-transform: uppercase;
  width: max-content;
  transition: background-color $transition-duration ease;
  letter-spacing: .04em;

  &_blue{
    background-color: #0B3882;
    color: $white;
  }

  &_transparent{
    color: $white;
    background-color: rgba(255, 255, 255, 0.15);
    &:hover{
      background-color: rgb(255, 255, 255);
      color: $black;
    }
  }
  &_gray{
    color: $black;
    background-color: $gray;
    &:hover{
      background-color: #0B3882;
      color: white;
        img {
          content: url('/src/assets/media/static/icons/arrow/arrow_short_white.svg');
        }
    }
  }

  &_white{
    background-color: $white;
    color: $black;
    overflow: hidden;
    position: relative;
    &:hover {
      .button_animate {
        left: 0;
      }
    }
  }

  &_animate {
    position: absolute;
    left: -100%;
    bottom: 0;
    transition: all 150ms ease-out;
    background-color: $gray;
  }
  &_circle{
    position: relative;
    width: 194px;
    height: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include manrope-14();
    border-radius: 50%;
    color: $white;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #D9D9D9;
      border-radius: 50%;
    }
    &_black{
      color: $black;

      &::after {
        border-color: $black;
      }

      &._loading:hover {
        color: $black;
      }
    }
    &._loading {
      &:hover {
        background-color: transparent;
        color: $white;
      }
      &::after {
        transition: border-width 300ms linear;
        border-width: 0 1px 1px 0;
        animation: rotate infinite linear 1s;
      }
    }
  
    &:hover {
      background-color: white;
      color: #2E2E2E;
    }
    @keyframes rotate {
      to {
        rotate: 360deg
      }
    }
  }
  &_dark{
    background-color: $black;
    color: $white;
    &:hover{
      background-color: rgba($black, 0.9);
    }
  }
  
  &_social{
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(46, 46, 46, 0.2);
    &:hover {
      background-color: #D9D9D9;
      border: none;
    }
  }
  @media screen and (max-width: $tablet800) {
    @include manrope-12();
    width: 100%;
    justify-content: center;
    padding: 13px 20px;
    &_circle{
      width: 110px;
      height: 110px;
    }
  }
}

.button-switch{
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid $white;
  width: 72px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
  &__mark{
    position: absolute;
    transition: left 250ms ease;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
  }

  &._active .button-switch__mark {
      left: calc(100% - 30px);
  }
}

.button-close{
  position: relative;
  width: 37px;
  height: 37px;
  background-color: rgba($white, 0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include utils.transition(background-color, 300ms);
  &_gray{
    background-color: transparent;
    border: 1px solid rgba($color: $black, $alpha: 0.2);
    &::before,
    &::after {
      background-color: rgba($color: $black, $alpha: 0.2);
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 54.0540541%;
    height: 1.5px;
    background-color: #fff;
  }

  img {
    display: none;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }

  &:hover {
    background-color: rgba($white, 0.8);
  }
}

.arrow-button{
  width: 86px;
  height: 86px;
  position: relative;
  border-radius: 50%;
  border: 1px solid $white;
  &::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 41px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("media/static/icons/arrow/arrow_long_white.svg");
  }
  &_left{
    &::before{
      transform:translate(-50%, -50%) rotate(-180deg);
    }
  }
  &_down{
    &::before{
      transform:translate(-50%, -50%) rotate(90deg);
    }
  }
  &_large{
    width: 194px;
    height: 194px;
  }
}

.button-arrow-right {
  &::after {
    content: '';
    position: relative;
    top: 2.3px;
    width: 14px;
    height: 14px;
    background-image: url('media/static/icons/arrow/arrow-link.svg');
    background-position: center;
    background-size: contain;
  }
}