@use 'components/ui/breadcrumb';
@use 'components/ui/badge';
@use 'src/styles/general/variables' as *;
@use 'components/ui/container' as *;
@use 'src/styles/general/typography' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/global/components/pageBlocks/aboutCompany';
@use '~swiper/scss';

.about-header {
  position: relative;
  .breadcrumb {
    margin-top: 130px;
  }
  &__content {
    @include container-x();
    position: relative;
    z-index: $z-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%),
      linear-gradient(49deg, rgba(0, 0, 0, 0.3) 12.99%, rgba(0, 0, 0, 0) 25.64%);
  }
  &__title {
    @include tenor-248();
    font-size: 14vmax;
    margin-top: 170px;
    text-align: center;
    color: $white;
  }
  &__text {
    @include manrope-24();
    color: $white;
    width: 512px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    border-top: 1px solid rgba($color: $white, $alpha: 0.2);
    margin-top: 8px;
  }
  &__image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.company-worth {
  position: relative;
  margin-top: 130px;
  &__image {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center
    }
  }
  &__content {
    @include container-x();
    position: relative;
    z-index: $z-2;
    padding-bottom: 80px;
    padding-top: 80px;
    background: linear-gradient(0deg, rgba(2, 46, 119, 0.4) 0%, rgba(2, 46, 119, 0.4) 100%);
  }

  &__title {
    @include tenor-90();
    text-transform: uppercase;
    color: $white;
    width: 58%;
  }

  &__list {
    display: flex;
    margin-top: 220px;
  }
  
  &__item {
    &__title {
      @include manrope-24();
    }
    border-right: 1px solid rgba($color: $white, $alpha: 0.2);
    padding-left: 60px;
    padding-right: 70px;
    width: 100%;
    text-transform: uppercase;
    color: $white;
    &__text {
      @include manrope-17();
      margin-top: 40px;
      opacity: 0.8;
    }
    &__image{
      margin-top: 20px;
    }
    &:last-child{
    border-left: 1px solid rgba($color: $white, $alpha: 0.2);
    border-right: none;

    }
  }
}
