@use 'components/ui/breadcrumb';
@use 'components/ui/badge';
@use 'src/styles/general/variables' as *;
@use 'components/ui/container' as *;
@use 'src/styles/general/typography' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/global/components/pageBlocks/aboutCompany';
@use 'src/global/components/pageBlocks/ourProject';
@use 'src/global/components/pageBlocks/projectsList';
@use 'components/ui/logoTitle' as *;

.about-header {
  position: relative;
  .breadcrumb {
    margin-top: 130px;
  }
  &__content {
    @include container-x();
    position: relative;
    z-index: $z-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%),
      linear-gradient(49deg, rgba(0, 0, 0, 0.3) 12.99%, rgba(0, 0, 0, 0) 25.64%);
  }
  &__title {
    position: relative;
    left: -28px;
    margin-top: 170px;
    text-align: center;
    color: $white;
    font-size: 248px;
    line-height: 1;
    font-family: 'tenor-sans';
  }
  &__text {
    @include manrope-24();
    color: $white;
    width: 512px;
    text-transform: uppercase;
  }
  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    --before-width: 100%;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 1px;
      width: var(--before-width);
      background-color: rgba($color: $white, $alpha: 0.2);
    }
  }
  &__image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  @media screen and (max-width: $tablet1200) {
    .breadcrumb{
      margin-top: 95px;
    }
    &__title {
      margin-top: 160px;
      padding-bottom: 26px;
      font-size: 54px;
    }
    &__bottom {
      padding-top: 16px;
      padding-bottom: 45px;
    }
    &__text {
      font-size: 18px;
      align-items: center;
      width: 60%;
    }
    &__content {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%),
        linear-gradient(1deg, rgba(0, 0, 0, 0.3) 22.67%, rgba(0, 0, 0, 0) 65.65%) no-repeat;
    }
  }
  @media screen and (max-width: $tablet800) {
    &__bottom {
      flex-direction: column;
      gap: 68px;
    }
    &__text {
      width: 80%;
      align-self: flex-start;
    }
    .arrow-button {
      width: 64px;
      height: 64px;
      &::before {
        width: 8px;
        height: 22px;
        background-position: center;
        background-image: url('media/static/icons/arrow/arrow_about_mobile.svg');
        transform: translate(-50%, -50%);
      }
    }
  }
}

.project__list{
  margin-top: 40px;
}

.about-company__button {
  span:last-child {
    display: none;
  }
  @media screen and (max-width: $tablet800) {
    .button {
      font-size: 10px;
      padding: 5px 10px;
      width: auto;
    }
    .button:first-child {
      span:first-child {
        display: none;
      }
      span:last-child {
        display: flex;
      }
    }
  }
}

.company-worth {
  position: relative;
  margin-top: 130px;
  &__image {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__content {
    @include container-x();
    position: relative;
    z-index: $z-2;
    padding-bottom: 80px;
    padding-top: 80px;
    background: rgba(2, 46, 119, 0.5);
  }

  &__title {
    @include tenor-90();
    text-transform: uppercase;
    color: $white;
  }

  &__list {
    display: flex;
    margin-top: 220px;
  }

  &__item {
    position: relative;
    padding-left: 60px;
    padding-right: 70px;
    width: 100%;
    text-transform: uppercase;
    color: $white;
    --after-height: 100%;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba($color: $white, $alpha: 0.2);
      height: var(--after-height);
      width: 1px;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        content: none;
      }
    }
    &:first-child {
      padding-left: 0;
    }

    &__title {
      @include manrope-24();
    }
    &__text {
      @include manrope-17();
      margin-top: 40px;
      opacity: 0.8;
      text-transform: uppercase;
    }
    &__image {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: $tablet1200) {
    margin-top: 64px;
    &__content {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &__title {
      font-size: 35px;
      width: 100%;
    }
    &__list {
      margin-top: 80px;
      flex-direction: column;
    }
    &__item {
      padding-left: 0;
      padding-right: 0;
      border-right: none;
      padding-bottom: 32px;
      padding-top: 32px;
      border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-left: none;
        border-bottom: none;
        padding-bottom: 0;
      }
      &__title {
        font-size: 18px;
      }
      &__image {
        margin-top: 16px;
        height: 36px;
      }
      &__text {
        margin-top: 32px;
        font-size: 15px;
      }
    }
  }
}

.company-main {
  @include container-x();
  background-color: $blue;
  padding-top: 90px;
  padding-bottom: 130px;
  @media screen and (max-width: $tablet1200) {
    padding-top: 45px;
    padding-bottom: 40px;
  }
}

.history {
  &__title {
    font-family: "tenor-sans";
    font-size: 61px;
    line-height: 61px;
    letter-spacing: .9px;
    width: 1007px;
    color: $white;
    margin-top: -6px;
  }
  &__view{
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__content{
    &__wrapper{
      display: flex;
      margin-bottom: 160px;
    }

    width: 80%;
    .swiper-slide-prev {
      opacity: 0.3;
      filter: blur(2px);
    }
    .swiper-slide-next {
      opacity: 0.3;
      filter: blur(2px);
    }
    .arrow-button {
      flex-shrink: 0;
      position: relative;
      &:hover {
        background-color: white;
        &::before {
          background-image: url('/src/assets/media/static/icons/arrow/arrow_long_black.svg');
        }
      }
    }
    .arrow-button_left {
      left: 80px;
    }
  }
  &__left-btn{
    width: 20%;
    justify-content: end;
    padding-right: 16px;
    height: 486px;
    margin-top: 60px;
    .arrow-button_left{
      top: 0;
      &:hover {
        background-color: white;
        &::before {
          background-image: url('/src/assets/media/static/icons/arrow/arrow_long_black.svg');
        }
      }
    }
  }
  &__nav {
    top: 30px;
    width: 130px;
    height: 130px;
    z-index: $z-3;
  }
  &__left-btn{
    display: flex;
    align-items: center;
  }
  &__year-view {
    margin-top: -112px;
    z-index: $z-2;
    position: relative;
    margin-right: 145px;
    margin-top: -90px;
    &__year {
      text-align: center;
      font-family: 'vetrino';
      font-size: 200px;
      line-height: 90%;
      font-weight: 400;
      color: $white;
    }
    &__scale {
      position: relative;
      &__edge {
        position: absolute;
        display: flex;
        color: $white;
        width: 100%;
        @include manrope-17-m();
        justify-content: space-between;
        p + p {
          margin-top: 0;
        }
      }
      &__image{
        width: 100%;
      }
    }
  }
  &__swiper {
    height: 486px;
    width: 65%;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
    margin-top: 60px;
  }
  &__slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media screen and (min-width: $desktop1460) {
    &__view{
      gap: 154px;
    }
    &__nav{
      width: 194px;
      height: 194px;

    }
    &__left-btn{
      justify-content: start;
      padding-right: 0;
    }
    &__year-view{
      margin-right: 348px;
    }
  }
  @media screen and (max-width: $tablet1200) {
    .container_left {
      display: flex;
      flex-direction: column;
    }
    &__left-btn{
      display: none;
    }
    &__title {
      font-size: 30px;
      margin-top: 0;
    }
    &__swiper {
      width: 100%;
      height: 330px;
      margin-top: 32px;
    }
    &__nav{
      display: none;
    }
    &__content__wrapper{
      display: flex;
      gap: 0;
    }
    &__view{
      width: 100%;
    }
    &__content{
      width: 100%;
    }
    &__year-view {
      width: 100%;

      &__year {
        font-size: 110px;
      }

      &__scale {
        width: 100%;
        flex-direction: column-reverse;
        display: flex;
        &__image {
          width: 100%;
        }
        &__edge{
          font-size: 15px;
          position: static;
          margin-top: 16px;
        }
      }
    }
  }
  @media screen and (max-width: $tablet800) {
    &__swiper {
      height: 230px;
    }
  }
  @media screen and (min-width: $tablet1200) and (max-width: $desktop1460){
    &__title{
      font-size: 61px;
    }
  }
}

.our-projects{
  @media screen and (max-width: $tablet1200) {
  }
}

.about-project-list {
  margin-top: 200px;
  @media screen and (max-width: $tablet1200) {
    margin-top: 80px;
  }
}

.project__button{
  span:last-child{
    display: none;
  }
  @media screen and (max-width: $tablet1200) {
    span:first-child{
      display: none;
    }
    span:last-child{
      display: flex;
    }
  }
}

.awards {
  background-color: #fff;
  @include container-x();
  padding-top: 120px;
  padding-bottom: 130px;

  &__title {
    @include tenor-90();
  }

  &__table {
    &__header {
      position: relative;
      margin-top: 80px;
      display: grid;
      grid-template-columns: 3fr 2fr 1fr;
      padding-bottom: 10px;
      --after-width: 100%;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: var(--after-width);
        background-color: #d9d9d9;
      }

      &__item {
        @include manrope-14();
        opacity: 0.6;
        text-transform: uppercase;
        &:last-child {
          justify-self: end;
        }
      }
    }
    &__row {
      position: relative;
      display: grid;
      grid-template-columns: 3fr 2fr 1fr;
      --after-width: 100%;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: var(--after-width);
        background-color: #d9d9d9;
      }
    }
    &__item {
      @include manrope-24();
      font-weight: 400;
      padding-top: 35px;
      padding-bottom: 35px;
      text-transform: uppercase;
      &:last-child {
        display: flex;
        justify-content: end;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $tablet1200) {
    padding-top: 40px;
    padding-bottom: 80px;
    &__title{
      font-size: 50px;
    }
    &__table{
      &__header{
        display: none;
      }
      &__item{
        font-size: 18px;
        padding-top: 0;
        padding-bottom: 0;
        &:nth-child(2){
          grid-row-start: 2;
          grid-row-end: 3;
          opacity: 0.5;
        }
        &:nth-child(3){
          grid-row-start: 1;
          grid-row-end: 3;
          align-self: flex-start;
        }
      }
      &__row{
        padding-top: 16px;
        padding-bottom: 16px;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr auto;
      }
    }
  }
  @media screen and (max-width: $tablet800) {
    &__title{
      font-size: 35px;
    }
  }
}
