.project-card 
  .project-card__top 
    .project-card__top__content
      .project-card__badge 
        .badge Жилищный комплекс
        .badge.badge_dark
          img(src=require("media/static/icons/timer.svg"))
          span март 2023
      .button-close
    .project-card__image 
      img(src=require("media/content/content_3.webp"))
  .project-card__content 
    .project-card__title жк меридиан
    .project-card__text Казань, Оренбургский тракт, 8
    .price-badge.price-badge_dark От 4 600 000 ₽
  .project-card__bottom 
    a(href='') смотреть все
      img(src=require('media/static/icons/arrow/arrow_short_blue.svg')) 