@use 'src/styles/general/typography' as *;
@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'components/ui/container' as *;

.dropdown {
  position: relative;
  z-index: $z-2;
  &__content {
    visibility: hidden;
    height: 0;
    position: absolute;
    transition: height 250ms ease;
    overflow: hidden;
    top: calc(100% + 20px);
    left: 0;
    &__wrapper {
      width: 310px;
    }
  }
  &__list {
    @include reset-list();
    @include basic-card();
    &__item {
      cursor: pointer;
      padding: 15px 25px;
      @include manrope-14();
      border-bottom: 1px solid #eeeeee;
    }
    &__item:first-child {
      padding-top: 0;
    }
    &__item:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &__title {
    @include manrope-14();
    color: $white;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  &_shown {
    .dropdown__content {
      visibility: visible;
    }
  }
}
