@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'components/ui/container' as *;
@use 'src/styles/general/typography' as *;
@use 'src/styles/utils/media' as *;

.request-accept {
    .close-btn {
      right: 20px;
      top: 20px;
      left: auto;
  
      img {
        width: 9px;
        height: 9px;
      }
    }
  
    &__text-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__inner {
      width: 100%;
      background-image: url('media/static/request_popup_bg.webp');
      background-size: cover;
      padding-right: 0;
      padding-left: 0;
      padding-top: 170px;
      padding-bottom: 96px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__title {
      @include tenor-61();
      text-align: center;
      color: $white;
      width: 656px;
    }
  
    &__text {
      margin-top: 12px;
      @include manrope-17();
      color: $white;
      width: 382px;
      text-align: center;
    }
  
    .button {
      margin-top: 30px;
      padding-left: 86px;
      padding-right: 86px;
    }
  
    @media screen and (min-width: $tablet1200) {
      &__inner {
        width: 1008px;
        background-position: 0 -270px;
      }
    }
  
    @media screen and (max-width: $tablet1200) {
      &__inner {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
      }
  
      .close-btn {
        left: 20px;
        top: 20px;
      }
  
      &__text-block {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
      .button {
        position: absolute;
        bottom: 30px;
      }
    }
  
    @media screen and (max-width: $tablet800) {
      &__title {
        font-size: 30px;
        width: 100%;
      }
  
      &__text {
        font-size: 15px;
        width: 100%;
      }
  
      &__text-block {
        width: calc(100% - 40px);
      }
  
      .button {
        width: calc(100% - 30px);
        justify-content: center;
      }
    }
  }