@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;

.our-projects {

  &__body {
    position: relative;
    margin-top: 30px;
  }
  &__title {
    // @include tenor-248();
    font-size: 148px;
    font-family: 'tenor-sans';
    text-align: center;
    color: $white;
  }
  &__middle-image {
    height: 720px;
    width: 610px;
    overflow: hidden;
    border-top-left-radius: 330px;
    border-top-right-radius: 330px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text-block {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
  }
  &__text {
    color: $white;
    @include manrope-17();
  }
  &__right {
    width: 468px;
    height: 534px;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__button {
    margin-top: 25px;
  }
  &__content {
    position: relative;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  @media screen and (min-width: $desktop1650) {
    &__content {
      margin-top: -140px;
    }
    &__text-block {
      left: 80px;
    }
    &__title {
      @include tenor-248();
    }
    &__text-block {
      width: 468px;
    }
    &__text {
      @include manrope-24();
    }
    &__right {
      right: 80px;
      width: 468px;
      height: 534px;
    }
    &__middle-image {
      height: 819px;
      width: 709px;
      border-top-left-radius: 330px;
      border-top-right-radius: 330px;
    }
  }
}