.our-projects
  .title.title_white
    span чем мы гордимся
  .our-projects__body
    div(data-delay="500").our-projects__title.text-appearing НАШИ ПРОЕКТЫ
    .our-projects__content
      .our-projects__text-block
        .our-projects__text Компания «Вертикаль» продолжает социальную линию группы: новостройки способны обеспечить жильем сотни семей
        button.our-projects__button.button.button_white смотреть все
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
          button.button.button_white.button_animate
                img(src=require('media/static/icons/arrow/arrow_short.svg'))
                span смотреть все
      .our-projects__images
        .our-projects__middle-image
          img(src=require('media/static/our_projects_1.webp'))
        .our-projects__right
          img(src=require('media/static/our_projects_2.webp'))
