@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;
@use 'src/global/components/pageBlocks/map';
@use 'components/ui/container' as *;
@use 'components/ui/breadcrumb';

.blue-section {
  @include container-x();
  background-color: $blue;
  padding-top: 130px;
  padding-bottom: 160px;
  @media screen and (max-width: $tablet1200) {
    padding-bottom: 80px;
    padding-top: 95px;
  }
}

.contacts {
  position: relative;
  &__title {
    @include tenor-90();
    padding-top: 66px;
    padding-bottom: 40px;
    color: $white;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
    margin-right: 355px;
    margin-top: -6px;
  }
  &__info {
    display: flex;
    margin-top: 20px;
    width: 695px;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

  }
  &__position {
    &__title {
      @include manrope-24();
      color: $white;
      text-transform: uppercase
    }
    &__hours {
      @include manrope-17-m();
      text-transform: uppercase;
      display: flex;
      margin-top: 20px;
      color: $white;
      line-height: 90%;
      gap: 8px;
    }
    &__button {
      margin-top: 30px;
    }
  }
  &__legal {
    @include reset-list;
    min-width: 175px;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    li {
      @include manrope-17();
      letter-spacing: .01em;
      color: $white;
    }
  }
  &__call {
    margin-top: 100px;
    &__phone {
      font-family: 'manrope';
      font-size: 58px;
      color: $white;
      letter-spacing: 1.16px;
    }
    &__email {
      @include manrope-24();
      text-transform: uppercase;
      margin-top: 20px;
      color: $white;
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
  &__arrow-button {
    margin-top: 142px;
  }
  &__image {
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 450px;
    border-radius: 354.5px 354.5px 0px 0px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media screen and (min-width: $desktop1460) {
    &__image {
      width: 710px;
    }
    &__title {
      width: 100%;
    }

  }
  @media screen and (min-width: $desktop1650) {
    &__info {
      flex-direction: row;
      gap: 124px;
    }
  }
  @media screen and (max-width: $tablet1200) {
    display: flex;
    flex-direction: column;
    &__title {
      width: 100%;
      font-size: 55px;
      padding-bottom: 16px;
      order: 1;
      margin-top: 52px;
    }

    &__legal {
      display: none;
    }
    &__position {
      &__button {
        display: none;
      }
      &__hours {
        opacity: 0.6;
      }
    }
    &__info {
      margin-top: 18px;
      width: 60%;
      order: 2;
    }

    &__call {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      order: 3;
      width: 60%;
      &__phone {
        font-size: 30px;
      }
      &__email {
        font-size: 18px;
        margin-top: 12px;
      }
    }
    &__image {
      margin-top: 32px;
      width: 260px;
      order: 2;
      align-self: center;
    }
    &__arrow-button {
      margin-top: 32px;
      order: 4;
    }
  }
  @media screen and (max-width: $tablet800) {
    &__title {
      font-size: 35px;
    }
    &__call {
      align-self: center;
      width: 100%;
    }
    &__image {
      width: 182px;
      position: static;
      height: 212px;
    }
    &__info{
      width: 100%;
    }
    &__arrow-button {
      align-self: center;
    }
  }
}
.map {
  margin-top: 164px;
  @media screen and (max-width: $tablet1200) {
    margin-top: 32px;
    &__content{
      display: block;
      height: auto;
      top: auto;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
    }
    .button{
      width: max-content;
    }
  }
}
