@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;
@use 'components/ui/container' as *;

.offer {
  height: 810px;
  position: relative;

  &__body {
    @include fade-up('.offer__text');
  }

  &__slides {
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: $z-1;
      background: linear-gradient(357deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0)), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    @include tenor-90();
    color: $white;
    left: 80px;
    top: 80px;

    z-index: $z-2;
    width: min-content;
    text-transform: uppercase;
  }

  &__text {
    color: $white;
    position: absolute;
    width: 567px;
    right: 648px;
    transform: translateX(100%);
    top: 498px;
    z-index: $z-2;
    letter-spacing: 0.96px;

    @include manrope-24();
    text-transform: uppercase;
  }

  &__pagination {
    position: absolute;
    z-index: $z-2;
    display: flex;
    align-items: center;
    bottom: 80px;
    right: 648px;
    gap: 20px;
    transform: translateX(100%);

    &__item {
      @include manrope-24();
      display: flex;
      align-items: center;
      opacity: .6;
      transition: opacity 250ms ease;
      gap: 15px;
      color: $white;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &::before, &::after {
        content: "";
        display: block;
        height: 37px;
        width: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &::before {
        background-image: url("media/static/icons/brackets/brackets_left.svg");
      }

      &::after {
        background-image: url("media/static/icons/brackets/brackets_right.svg");

      }
    }

    &__progress {
      width: 50px;
      height: 1px;
      position: relative;
      z-index: $z-2;

      &__bg {
        width: 100%;
        height: 100%;
        background-color: rgba($color: $white, $alpha: 0.4);
      }

      &__indicator {
        position: absolute;
        width: 0;
        height: 100%;
        background-color: $white;
      }
    }
  }

  @media screen and (max-width: $tablet1200) {
    height: 668px;
    &__title {
      top: 20px;
      font-size: 48px;
      left: 20px;
      line-height: 110%;
      letter-spacing: 0.35px;

    }
    &__text {
      bottom: 92px;
      left: 20px;
      transform: none;
      top: auto;
      right: 20px;
      line-height: 130%;
      width: 80%;
      height: max-content;
      letter-spacing: 0.72px;

    }
    &__pagination {
      left: 20px;
      right: 20px;
      bottom: 40px;
      gap: 16px;
      transform: none;

      &__progress {
        width: 20px;
      }

      &__item {
        font-size: 18px;
        line-height: 90%;
        align-items: center;
        gap: 8px;

        &::before, &::after {
          height: 32px;
          width: 9px;
        }
      }
    }
  }
  @media screen and (max-width: $tablet800) {
    &__title {
      font-size: 35px;
    }
    &__text {
      @include manrope-17-m();
      line-height: 130%;
      width: auto;

    }
  }
}
