@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;
@use 'components/ui/container' as *;

.offer {
  height: 810px;
  position: relative;
  overflow: hidden;

  &__slides {
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: $z-1;
      background: linear-gradient(357deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0)), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__body {
    position: relative;
    z-index: 5;
    padding: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @include tenor-90();
    color: $white;
    width: min-content;
    text-transform: uppercase;
  }

  &__text-block {
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-self: flex-end;
    color: $white;
    letter-spacing: 0.96px;
    @include manrope-24();
    text-transform: uppercase;
  }

  &__pagination {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__pagination-item {
    width: 60px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include manrope-24;
    border-radius: 8px;
    border: 1px solid #fff;
    opacity: .5;
    clip-path: polygon(0 0, 15% 0, 15% 15%, 85% 15%, 85% 0, 100% 0, 100% 100%, 85% 100%, 85% 85%, 15% 85%, 15% 100%, 0 100%);
    will-change: transform;
    transition: opacity 300ms ease-in-out;

    &._active {
      opacity: 1;
    }
  }

  &__pagination-line {
    position: relative;
    width: 50px;
    height: 1px;
    background: rgb(255, 255, 255, .5);
    transition: opacity 300ms ease-in-out;
    --after-width: 0%;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: var(--after-width);
      height: 1px;
      background-color: #fff;
    }
  }

  @media screen and (max-width: $tablet1200) {
    height: 668px;
    &__title {
      top: 20px;
      font-size: 48px;
      left: 20px;
      line-height: 110%;
      letter-spacing: 0.35px;

    }
    &__text {
      bottom: 92px;
      left: 20px;
      transform: none;
      top: auto;
      right: 20px;
      line-height: 130%;
      width: 80%;
      height: max-content;
      letter-spacing: 0.72px;

    }
  }
  @media screen and (max-width: $tablet800) {
    &__title {
      font-size: 35px;
    }
    &__text {
      @include manrope-17-m();
      line-height: 130%;
      width: auto;
    }
    &__body {
      padding: 20px;
    }
  }
}
