@use 'src/global/components/pageBlocks/filter';
@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;
@use 'components/ui/container' as *;
@use 'components/ui/badge';

.project {
  padding-top: 130px;
  background-color: $blue;
  @include container-x();
  padding-bottom: 130px;
  &__button {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: white;
      color: #2E2E2E

    }
  }
  &__wrapper-button {
    display: flex;
    justify-content: center;
  }
  &__filter {
    margin-top: 40px;
  }
  &__title {
    @include tenor-90();
    color: $white;
    margin-top: 66px;
    .filter__founded {
      margin-top: 4px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    &__item {
      position: relative;
      overflow: hidden;
      &:hover &__image{
        transform: scale(1.1);
        transition: transform .3s linear,-webkit-transform .3s linear;
      }
      &__content {
        position: relative;
        background: linear-gradient(
            179deg,
            rgba(0, 0, 0, 0.6) -2.27%,
            rgba(0, 0, 0, 0.32) 14.44%,
            rgba(0, 0, 0, 0) 29.76%
          ),
          linear-gradient(0deg, rgba(0, 0, 0, 0.5) 4.75%, rgba(0, 0, 0, 0) 46.91%),
          linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
          0px -61.404px / 100% 116.667% no-repeat;
        height: 100%;
        padding: 25px;
        z-index: $z-2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $white;
        text-transform: uppercase;
      }
      &__badges {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      &__title {
        @include tenor-48();
      }
      &__text {
        margin-top: 10px;
        @include manrope-14();
      }
      &__header {
        display: flex;
        justify-content: space-between;
      }
      &__image {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        transition: transform .3s linear,-webkit-transform .3s linear;
        
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    &__row {
      display: flex;
      align-items: center;
      gap: 40px;
      &:nth-child(odd) {
        .project__list__item:first-child,
        .project__list__item:last-child {
          width: 100%;
          height: 354px;
        }
      }
      &:nth-child(even) {
        .project__list__item:last-child,
        .project__list__item:first-child {
          width: 100%;
          height: 354px;
        }
      }
    }
  }
  .button_circle {
    span:last-child {
      display: none;
    }
  }

  @media screen and (min-width: $desktop1460) {
    &__title {
      .filter__founded {
        display: none;
      }
    }

    &__list {
      &__item__title {
        @include tenor-61();
      }
      &__row {
        &:nth-child(even) {
          .project__list__item:last-child {
            width: 52%;
            height: 485px;
          }
          .project__list__item:first-child {
            flex-grow: 1;
            width: auto;
            height: 425px;
          }
        }

        &:nth-child(odd) {
          .project__list__item:first-child {
            width: 52%;
            height: 485px;
          }
          .project__list__item:last-child {
            flex-grow: 1;
            height: 425px;
            width: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: $tablet1200) {
    padding-bottom: 80px;
    padding-top: 95px;
    &__list {
      gap: 20px;
      &__row {
        gap: 20px;
      }
    }
    &__button {
      margin-top: 32px;
    }
    &__title {
      font-size: 35px;
      margin-top: 52px;
    }
    .button_circle {
      span:first-child {
        display: none;
      }
      span:last-child {
        display: block;
      }
    }
    .filter__selected {
      display: none;
    }
    &__list {
      &__row {
        flex-direction: column;
      }
      &__item {
        &__content {
          padding: 12px;
        }
        &__title {
          @include tenor-30();
        }
        &__text {
          font-size: 10px;
        }
        .price-badge {
          display: none;
        }
      }
      &:nth-child(odd) {
        .project__list__item:first-child,
        .project__list__item:last-child {
          width: 100%;
          height: 354px;
        }
      }
      &:nth-child(even) {
        .project__list__item:last-child,
        .project__list__item:first-child {
          width: 100%;
          height: 354px;
        }
      }
    }
  }
  @media screen and (max-width: $tablet800) {
    &__list {
      &:nth-child(odd) {
        .project__list__item:first-child,
        .project__list__item:last-child {
          height: 206px;
        }
      }
      &:nth-child(even) {
        .project__list__item:last-child,
        .project__list__item:first-child {
          height: 206px;
        }
      }
    }
  }
}

.badge {
  gap: 10px;
}
