@use 'src/styles/utils/mixins' as *;
@use 'src/styles/general/typography' as *;
@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/media' as *;


.breadcrumb{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  @include reset-list();
  color: $white;
  &_black{
    .breadcrumb__item{
      color: $black;
    }
  }
  &__item{
    @include manrope-14();
    opacity: 0.5;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 2rem;
    letter-spacing: .04em;
    &_active{
      opacity: 1;
    }
    &::after{
      content: ".";
      position: absolute;
      display: block;
      right: -1rem;
      transform: translate(50%, -25%);
    }
  }
  @media screen and (max-width: $tablet1200) {
    &__item{
      font-size: 10px;
    }
  }
}
.breadcrumb__item:last-child{
    &::after{
      display: none;
    }
}