.text-appearing {
  &.by-words {
    span {
      display: inline;
    }
  }

  &.by-lines {
    & > span {
      overflow: hidden;
      display: inline-block;

      & > span {
        display: inline-block;
      }
    }
  }

}