@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'components/ui/container' as *;
@use 'src/styles/general/typography' as *;
@use 'src/styles/utils/media' as *;

.contact-form {
  @include container-x();
  display: flex;
  padding-top: 100px;
  padding-bottom: 204px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), url('media/static/footer_bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  &__content {
    margin-left: auto;
    width: 549px;
  }
  &__title {
    @include tenor-61();
    color: $white;
  }
  &__list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
  &__input {
    width: 100%;
    height: 30px;
    color: $white;
    text-transform: uppercase;
    @include manrope-17-m();
    border-bottom: 1px solid $white;
    &::placeholder {
      color: $white;
      text-transform: uppercase;
      @include manrope-17-m();
    }
  }
  &__bottom{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    .button{
      height: min-content
    }
    &__text{
      @include manrope-17();
      color: $white;
      opacity: 0.8;
      a{
        text-decoration: underline;
      }
    }
  }
}

.footer{
  background-color: $blue;
  @include container-x();   
  &__title{
    @include tenor-248();
    color: $white;
    padding-top: 40px;
    font-size: 14vmax;
  }
  &__content{
    display: flex;
    margin-top: 38px;
    padding-top: 60px;
    justify-content: space-between;
    border-top: 1px solid rgba($color: $white, $alpha: 0.2);
    &__middle{
      color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
        @include manrope-38();
        font-size: 52px;
        margin-bottom: 25px;
      }
      span{
        @include manrope-14();
        opacity: 0.7;
      }
      span + span{
        margin-top: 12px;
      }
    }
  }
  &__link{
    @include reset-list();
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $white;
    @include manrope-14();
    opacity: 0.7;
  }
  &__bottom{
    @include manrope-14();
    border-top: 1px solid rgba($color: $white, $alpha: 0.2);

    margin-top: 60px;
    display: flex;
    color: $white;
    opacity: 0.6;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.request-accept{
  .close-btn{
    right: 20px;top: 20px;
  }
  &__inner{
    width: 100%;
    background-image: url("media/static/request_popup_bg.webp");
    background-size: cover;
    padding-right: 0;
    padding-left: 0;
    padding-top: 170px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    @include tenor-61();  
    text-align: center;
    color: $white;
    width: 656px;
  }
  &__text{
    margin-top: 12px;
    @include manrope-17();
    color: $white;
    width: 382px;
    text-align: center;
  }
  .button{
    margin-top: 30px;
    padding-left: 86px;
    padding-right: 86px;
  }
  @media screen and (min-width: $tablet1200) {
    &__inner{
    width: 1008px;
    background-position: 0 -270px;

    }
  }
}