@use "styles/utils";
@use 'styles/general/variables' as *;
@use 'styles/general/typography' as *;

.hero-index {
  background: $blue;
  min-height: 100vh;
  display: flex;

  &._init-state &__img-wrapper:first-child {
    max-width: 100%;
  }

  .container {
    position: relative;
    width: 100%;
    padding-top: 87px;
    padding-bottom: 60px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    position: relative;
    z-index: 1;
    left: -29px;
    @include tenor-248();
    color: #FFFFFF;

    span {
      will-change: transform;
    }
  }

  &__images,
  &__img-wrapper img {
    height: 770px;
    width: 716px;
  }

  &__images {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    border-radius: 350px 350px 0 0;
    overflow: hidden;
  }

  &__img-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.slider-slide {
      opacity: 0;

      &.relative-prev-slide {
        opacity: 1;
        max-width: 0 !important;
        scale: 1.4;
        transition-property: max-width, scale;
        transition-duration: 1400ms, 0s;
        transition-delay: 0s, 1400ms;
        transition-timing-function: ease-in-out;
      }

      &.active-slide {
        opacity: 1;
        scale: 1;
        transition-property: scale;
        transition-duration: 1200ms;
        transition-delay: 1400ms;
        transition-timing-function: ease-in-out;
      }

      &.relative-next-slide {
        opacity: 1;
        scale: 1.4;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: center;
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
  }

  &__text-block {
    max-width: 375px;

    &._animation-prepare {
      transition: none;
      opacity: 0;
      translate: 0 15%;
    }

    &._animation-start {
      @include utils.transition((opacity, translate), 1300ms);
      opacity: 1;
      translate: 0;
    }
  }

  &__text-subtitle {
    margin-bottom: 10px;
    @include manrope-14;
    opacity: .7;
    text-transform: uppercase;
  }

  &__text-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    @include manrope-38;
  }
}

@media only screen and (max-width: 1200px) {
  .hero-index {
    .container {
      padding-top: 80px;
      padding-bottom: 40px;
    }

    &__title {
      left: 0;
      font-size: 54px;
      letter-spacing: 0;
    }

    &__images {
      bottom: initial;
      top: 20px;
    }

    &__images,
    &__img-wrapper img {
      height: 418px;
      width: 315px;
    }

    &__body {
      position: relative;
    }

    &__text-subtitle {
      margin-bottom: 6px;
      font-size: 12px;
    }

    &__text-title {
      margin-bottom: 19px;
      font-size: 24px;
      line-height: 1.15;
    }

    .slider-pagination {
      position: absolute;
      right: 8px;
      top: 0;
    }
  }
}