@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;
@use 'src/global/components/pageBlocks/aboutCompany';
@use 'src/global/components/pageBlocks/offerSwiper';
@use 'src/global/components/pageBlocks/filter';
@use 'src/global/components/pageBlocks/map';
@use 'src/global/components/pageBlocks/blog';
@use 'src/global/components/pageBlocks/ourProject';
@use 'components/ui/container' as *;
@use 'components/ui/pageViewer' as *;
@use '~swiper/scss';

.lead-section {
  position: relative;
  background-color: $blue;
  &__title {
    @include tenor-90();
    font-size: 14vmax;
    position: absolute;
    color: $white;
    top: 108px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $z-2;
    pointer-events: none;
  }

  &__slide {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    &__image {
      border-top-left-radius: 350px;
      border-top-right-radius: 350px;
      margin-top: 40px;
      position: relative;
      left: 75px;
      overflow: hidden;
      height: 770px;
      width: 580px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &__content {
      position: absolute;
      bottom: 0;
      left: $parent-padding-1200;
      margin-bottom: 60px;
      text-transform: uppercase;
      width: min-content;
    }
    &__text {
      @include manrope-14();
      opacity: 0.7;
      color: $white;
    }
    &__title {
      @include manrope-38();
      color: $white;
      margin-top: 10px;
    }
    &__button {
      margin-top: 20px;
    }
  }
  &__mobile {
    &__page-list {
      position: absolute;
      display: flex;
      visibility: hidden;
      gap: 4px;
      z-index: $z-2;
    }
    &__page {
      width: 7px;
      height: 7px;
      opacity: 0.3;
    }
    &_opaque {
      opacity: 1;
    }
    &_small {
      transform: scale(0.714);
    }
  }
  @media screen and (max-width: $tablet1200) {
    &__slide {
      gap: 16px;
      @include container-x();
      &__content {
        position: static;
        align-self: flex-end;
        margin-bottom: 26px;
      }
      &__image {
        position: static;
        height: 568px;
        width: 100%;
      }
    }
    .page-viewer {
      visibility: hidden;
    }
    &__mobile {
      &__page-list {
        visibility: visible;
      }
    }
  }
  @media screen and (max-width: $tablet800) {
    &__slide {
      flex-direction: column;
      &__content {
        position: static;
        width: 100%;
      }
      &__image {
        position: static;
        height: 418px;
        width: 100%;
      }
      &__text {
        @include manrope-12();
      }
      &__title {
        @include manrope-24();
        margin-right: 96px;
      }
    }
    &__mobile {
      &__page-list {
        transform: translateX(-100%);
      }
    }
  }
  @media screen and (min-width: $desktop1460) {
    &__slide {
      &__image {
        width: 716px;
        left: 0;
      }
      &__content {
        left: $parent-padding-1400;
      }
    }
  }
}

.offer {
  margin-top: 130px;
}

.blue-section {
  @include container-x();
  background-color: $blue;
  padding-top: 80px;
  padding-bottom: 170px;
  .map {
    margin-top: 35px;
  }
}

.building-filter {
  margin-top: 200px;
}

.partners {
  margin-top: 200px;
  &__title {
    @include tenor-61;
    color: $white;
  }
  .container_left {
    margin-bottom: 134px;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
    &:last-child {
      border-bottom: none;
    }
    &__image {
      position: relative;
      padding-bottom: 25px;
      padding-top: 25px;
      width: 100%;
      &::before {
        content: '';
        display: block;
        height: 34px;
        position: absolute;
        width: 1px;
        background-color: rgba($color: $white, $alpha: 0.2);
        right: 25%;
        bottom: 0;
      }
      img {
        width: 186px;
        height: 45px;
        object-fit: contain;
      }
      &:nth-child(5) {
        &::before {
          display: none;
        }
      }
    }
  }
  &__row:nth-child(odd) {
    .partners__row__image::before {
      top: 0;
    }
  }
}

.seo-block {
  margin-top: 130px;
  &__title {
    @include manrope-24();
  }
  &__text {
    @include manrope-17();
    transition: height 250ms ease;
    height: min-content;
    margin-top: 20px;
    color: #6d6d6d;
    overflow: hidden;
    p {
      position: absolute;
      visibility: hidden;
    }
    p:first-child {
      position: static;
      visibility: visible;
    }
    p + p {
      padding-top: 20px;
    }
  }
  &__expand {
    margin-top: 24px;
    @include manrope-17-m();
    cursor: pointer;
    color: $blue;
    display: flex;
    text-transform: uppercase;
    gap: 6px;
    align-items: center;
    img {
      transition: transform 250ms ease;
    }
  }
  &_open {
    p {
      position: static;
      visibility: visible;
    }
    .seo-block__expand {
      img {
        transform: rotate(-180deg);
      }
    }
  }
}

.seo-block {
  margin-bottom: 130px;
}
