@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;
@use 'src/global/components/pageBlocks/aboutCompany';
@use 'src/global/components/pageBlocks/offerSwiper';
@use 'src/global/components/pageBlocks/mapBlock';
@use 'src/global/components/pageBlocks/blog';
@use 'src/global/components/pageBlocks/ourProject';
@use 'components/ui/container' as *;
@use 'components/ui/pageViewer' as *;
@use 'components/ui/logoTitle' as *;
@use "sections/hero-index";
@use "sections/partners";

.blue-section {
  @include container-x();
  background-color: $blue;
  padding-top: 80px;
  padding-bottom: 170px;

  .map {
    margin-top: 35px;
  }

  @media screen and (max-width: $tablet1200) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.blue-section:has(.map.visible) {
  z-index: 4;
}

.building-filter {
  margin-top: 200px;

  @media screen and (max-width: $tablet1200) {
    margin-top: 80px;
  }
}

.map-block {
  &__project-list {
    display: none;
  }

  .map > .button-close {
    display: none;
  }

  @media screen and (max-width: $tablet1200) {
    .map {
      position: fixed;
      z-index: 30;
      left: 0;
      top: 0;
      margin-top: 0;
      width: 100vw;
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      @include transition((opacity, visibility), 300ms);

      .button-close {
        display: flex;
        position: absolute;
        z-index: 1;
        left: 20px;
        top: 20px;
      }
    }

    &__project-list {
      display: block;
    }
  }
}

.seo-block {
  margin-top: 130px;
  margin-bottom: 130px;

  &__title {
    @include manrope-24();
  }

  &__text {
    @include manrope-17();
    transition: height 250ms ease;
    height: min-content;
    padding-top: 20px;
    color: #6d6d6d;
    overflow: hidden;

    p {
      position: absolute;
      visibility: hidden;
      box-sizing: content-box;
    }

    p:first-child {
      position: static;
      visibility: visible;
    }

    p + p {
      padding-top: 20px;
      margin-top: 0;
    }
  }

  &__expand {
    margin-top: 24px;
    @include manrope-17-m();
    cursor: pointer;
    color: #0b3882;
    display: flex;
    text-transform: uppercase;
    gap: 6px;
    align-items: center;

    img {
      transition: transform 250ms ease;
    }

    img:first-child {
      display: none;
    }

    img:last-child {
      transform: rotate(90deg);
    }
  }

  &_open {
    p {
      position: static;
      visibility: visible;
    }

    .seo-block__expand {
      img:first-child {
        transform: rotate(-180deg);
      }

      img:last-child {
        transform: rotate(-90deg);

      }
    }
  }

  @media screen and (max-width: $tablet1200) {
    margin-bottom: 50px;
    margin-top: 50px;

    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 15px;
      padding-top: 0;

      p:first-child {
        padding-top: 8px;
      }
    }

    &__expand {
      margin-top: 16px;

      img:last-child {
        display: none;
      }

      img:first-child {
        display: block;
      }
    }
  }
}