@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;
@use 'src/global/components/pageBlocks/aboutCompany';
@use 'src/global/components/pageBlocks/offerSwiper';
@use 'src/global/components/pageBlocks/filter';
@use 'src/global/components/pageBlocks/map';
@use 'src/global/components/pageBlocks/map/popup';
@use 'src/global/components/pageBlocks/blog';
@use 'src/global/components/pageBlocks/ourProject';
@use 'components/ui/container' as *;
@use 'components/ui/pageViewer' as *;
@use 'components/ui/logoTitle' as *;
@use 'src/global/components/pageBlocks/projectsList';
@use "sections/hero-index";

.offer {
  margin-top: 130px;
  @media screen and (max-width: $tablet1200) {
    margin-top: 64px;
  }
}

.blue-section {
  @include container-x();
  background-color: $blue;
  padding-top: 80px;
  padding-bottom: 170px;
  .map {
    margin-top: 35px;
  }
  @media screen and (max-width: $tablet1200) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.building-filter {
  margin-top: 200px;
  @media screen and (max-width: $tablet1200) {
    margin-top: 80px;
  }
}

.map-block {
  &__project-list {
    display: none;
  }
  @media screen and (max-width: $tablet1200) {
    .map {
      display: none;
    }
    &__project-list {
      display: block;
    }
  }
}

.partners {
  margin-top: 200px;
  &__title {
    @include tenor-61;
    color: $white;
    margin-top: -6px;
    letter-spacing: -0.305px;
  }
  &__desktop {
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .container_left {
    margin-bottom: 134px;
  }
  &__row {
    display: none;
  }

  @media screen and (max-width: $tablet1200) {
    margin-top: 80px;
    .container_left {
      margin-bottom: 40px;
    }
    &__title {
      font-size: 30px;
      letter-spacing: -0.15px;
      margin-top: 0;
    }
    &__list {
      display: flex;
      position: relative;
    }
    &__desktop {
      display: none;
    }
    &__row {
      border-bottom: none;
      gap: 4px;
      display: flex;
      &__image {
        width: 110px;
        height: 110px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid rgba($color: $white, $alpha: 0.2);
        img {
          opacity: 0.5;
          width: auto;
          height: 14px;
        }
        &::before {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: $tablet800) {
    &__list {
      left: -20%;
    }
  }
}

.seo-block {
  margin-top: 130px;
  margin-bottom: 130px;

  &__title {
    @include manrope-24();
  }
  &__text {
    @include manrope-17();
    transition: height 250ms ease;
    height: min-content;
    padding-top: 20px;
    color: #6d6d6d;
    overflow: hidden;
    p {
      position: absolute;
      visibility: hidden;
      box-sizing: content-box;
    }
    p:first-child {
      position: static;
      visibility: visible;
    }
    p + p {
      padding-top: 20px;
      margin-top: 0;
    }
  }
  &__expand {
    margin-top: 24px;
    @include manrope-17-m();
    cursor: pointer;
    color: #0b3882;
    display: flex;
    text-transform: uppercase;
    gap: 6px;
    align-items: center;
    img {
      transition: transform 250ms ease;
    }
    img:first-child{
      display: none;
    }
    img:last-child{
      transform: rotate(90deg);
    }
  }
  &_open {
    p {
      position: static;
      visibility: visible;
    }
    .seo-block__expand {
      img:first-child {
        transform: rotate(-180deg);
      }
      img:last-child{
        transform: rotate(-90deg);

      }
    }
  }
  @media screen and (max-width: $tablet1200) {
    margin-bottom: 50px;
    margin-top: 50px;
    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 15px;
      padding-top: 0;
      p:first-child {
        padding-top: 8px;
      }
    }
    &__expand {
      margin-top: 16px;
      img:last-child{
        display: none;
      }
      img:first-child{
        display: block;
      }
    }
  }
}
