@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;
@use 'components/ui/container' as *;
@use 'components/pageBlocks/numbers' as *;

.about-company {
  @include container-x();
  padding-top: 94px;
  &__title {
    @include tenor-48();
  }
  &__text {
    @include manrope-17();
  }
  &__card {
    display: grid;
    gap: 35px;
    margin-top: 71px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  &__button {
    margin-top: 20px;
  }
  &__image {
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__benefits {
    margin-top: 127px;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    align-items: center;
    justify-content: center;
    &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__border{
      &::before{
        margin-right: auto;
        margin-left: auto;
        content: "";        
        width: calc(100% - 80px);
        height: 1px;
        display: block;
        background-color: $black;
      }
    }
    &__number {
      position: relative;
      p {
        font-family: 'vetrino';
        font-size: 150px;
      }
      span {
        position: absolute;
        top: 0;
        right: 0;
        @include manrope-17();
        // transform: translate(100%, 100%);
      }
    }
    &__text{
      @include manrope-14();
      text-align: center;
      color: #6D6D6D;
    }
  }

  @media screen and (min-width: $desktop1460) {
    &__title {
      @include tenor-61();
    }
    &__card {
      gap: 74px;
    }
    &__benefits{

      &__number {
        p {
          font-size: 200px;
        }
        span {
          position: absolute;
          top: 0;
          right: 0;
          @include manrope-24();
        }
      }
      &__text{
        @include manrope-17();
      }
    }
  }
  @media screen and (min-width: $desktop1650) {
    &__benefits{
      &__border{
        &::before{
          width: calc(100% - 250px);
        }
      }
    }
  }
}
$benefit-item:"about-company__benefits__item";
.#{$benefit-item}:nth-child(1), .#{$benefit-item}:nth-child(3) {
  .about-company__benefits__number {
    span {
      transform: translate(100%, 100%);
    }
  }
}

.#{$benefit-item}:nth-child(5) {
  .about-company__benefits__number {
    span {
      transform: translate(0, 100%);
    }
  }
}