@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;
@use 'components/ui/container' as *;
@use 'components/pageBlocks/numbers' as *;

.about-company {
  @include container-x();
  padding-top: 94px;
  &__title {
    @include tenor-48();
    
  }
  &__text {
    @include manrope-17();
  }
  &__card {
    display: grid;
    gap: 35px;
    margin-top: 71px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  &__button {
    margin-top: 20px;
    display: flex;
    gap: 12px;
  }
  &__image {
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: $desktop1460) {
    &__title {
      @include tenor-61();
    }
    &__card {
      gap: 74px;
    }

  }

}
$benefit-item:"about-company__benefits__item";
.#{$benefit-item}:nth-child(1), .#{$benefit-item}:nth-child(3) {
  .about-company__benefits__number {
    span {
      transform: translate(100%, 100%);
    }
  }
}

.#{$benefit-item}:nth-child(5) {
  .about-company__benefits__number {
    span {
      transform: translate(0, 100%);
    }
  }
}