@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/media' as *;

@mixin container-x($type: "padding") {
  #{$type}-right: $parent-padding-mobile;
  #{$type}-left: $parent-padding-mobile;
  @media screen and (min-width: $tablet1200) {
    #{$type}-right: $parent-padding-1200;
    #{$type}-left: $parent-padding-1200;
  }
  @media screen and (min-width: $desktop1460) {
    #{$type}-right: $parent-padding-1400;
    #{$type}-left: $parent-padding-1400;
  }
}

.container {
  &_left {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  @media screen and (max-width: $tablet1200) {
    &_left{
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }
}

@mixin basic-card() {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: $white;
}
