include layout/utils
include features/popup/template

+popup('gallery-popup', "gallery-popup")
    .button-close.close-btn(data-action="close-popup")
      img(src = require("media/static/icons/close/close_black.svg"))
    .gallery-popup__body
      .gallery-popup__desktop
        .button.arrow-button.arrow-button_left.gallery-popup__left
        .gallery-popup__swiper.swiper: .swiper-wrapper
          each i in Array(4)
            .swiper-slide.gallery-popup__slide
              img(src = require("media/static/builders.webp"))
        .button.arrow-button.gallery-popup__right
      .gallery-popup__mobile
        .gallery-popup__mobile-swiper.swiper: .swiper-wrapper
          each i in Array(4)
            .swiper-slide.gallery-popup__mobile-slide
              img(src = require("media/static/builders.webp")).gallery-popup__mobile-slide-image
              .gallery-popup__mobile-slide-bg
                img(src = require("media/static/builders.webp"))
    .gallery-popup__bottom
      .gallery-popup__title Декабрь
      .gallery-popup__text 1 квартал 2023 / 12 фото

//- +popup("seo")
//-     .close-btn(data-action="close-popup") 
//-     .seo__title
//-         h3 SEO Text
//-     .seo__content
//-         p Одной из важнейших характеристик деятельности ГК является социальная ответственность. Компания «Вертикаль» продолжает социальную линию группы: новостройки способны обеспечить жильем сотни семей, а расположенные на первых этажах коммерческие объекты — предоставить место для работы сотрудникам десятков организаций. Главная цель компании — сделать возможность купить квартиру от застройщика доступной максимальному количеству людей. Сорбция, несмотря на внешние воздействия, поступательно возникает лесной
//-         p Одной из важнейших характеристик деятельности ГК является социальная ответственность. Компания «Вертикаль» продолжает социальную линию группы: новостройки способны обеспечить жильем сотни семей, а расположенные на первых этажах коммерческие объекты — предоставить место для работы сотрудникам десятков организаций. Главная цель компании — сделать возможность купить квартиру от застройщика доступной максимальному количеству людей. Сорбция, несмотря на внешние воздействия, поступательно возникает лесной