include global/components/ui/dropdown/template

.filter
  include global/components/ui/quickFilter/template
  +dropdown("Тип недвижимости")
    ul.dropdown__list
      li.dropdown__list__item ТРК
      li.dropdown__list__item Жилищные комплексы
      li.dropdown__list__item Промышленные объекты
      li.dropdown__list__item Склады
  +dropdown("Стадия постройки")