@use 'src/styles/general/variables' as *;
@use 'src/styles/general/typography' as *;

.quick-filter {
  display: flex;
  padding: 6px;
  border-radius: 50px;
  border: 1px solid $white;
  color: white;
  gap: 8px;
  @include manrope-14();
  &_border-right, &_border-left{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 1px;
      background-color: rgba($color: $white, $alpha: 0.2);
      height: calc(100% - 20px);
      margin-top: 10px;
      display: block;
      top: 0;
      margin-bottom: 10px;
    }
  }
  &_border-right{
    &::before{
      right: 0;
    }
  }
  &_border-left{
    &::before{
      left: 10px;
    }
  }
  &__item {
    transition: background-color 250ms ease;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      color: $blue;
      background-color: $white;
      &::before{
        display: none;
      }
    }
  }
  &_active {
    color: $blue;
    background-color: $white;
    &::before{
      display: none;
    }
  }
}
