@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/mixins' as *;
@use 'src/styles/utils/media' as *;
@use 'src/styles/general/typography' as *;

.news-card {
  display: flex;
  margin-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #d9d9d9;
  gap: 42px;
  &__image {
    flex-shrink: 0;
    width: 265px;

    height: 215px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0;
    &__text {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  &__text {
    @include manrope-17();
    color: #6d6d6d;
    line-height: 125%;
  }
  &__title {
    text-transform: uppercase;
    @include manrope-24();
  }
  &__date {
    display: flex;
    gap: 12px;
    p {
      font-family: 'vetrino';
      font-size: 52px;
      line-height: 90%;
    }
    span {
      @include manrope-14();
    }
  }
  &_white {
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);

    .news-card__title,
    .news-card__text {
      color: $white;
    }
    .news-card__text {
      opacity: 0.7;
    }
    .news-card__date {
      color: $white;
    }
  }

  @media screen and (min-width: $desktop1460) {
    &__image {
      width: 368px;
    }
    &__content{
      gap: 182px;
    }
  }

  @media screen and (max-width: $tablet1200) {
    &__content{
      gap: 10px;
    }
    &__image{
      width: 40%;
    }

  }

  @media screen and (max-width: $tablet800) {
    margin-top: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    position: relative;
    gap: 14px;
    &__image{
      width: 60%;
      height: 118px;
    }
    &__date{
      position: absolute;
      right: 0;
      top: 0;
      span{
        font-size: 10px;
      }
      p{
        font-size: 28px;
        line-height: 90%;
      }
    }
    &__content{
      flex-direction: column;
      gap: 0;
      &__text{
        gap: 4px;
      }
    }
    &__title{
      font-size: 18px;
    }
    &__text{
      font-size: 15px;
    }
  }
}
