extends layout/page

block append head
  link(href=require('pages/index/index.scss'), rel='stylesheet')

block append main
  include global/components/pageBlocks/aboutCompany/template
  include global/components/pageBlocks/filter/template
  

block append scripts
  script(src=require('pages/index/index.ts'))
