extends layout/page

block append head
  link(href=require('pages/projectList/projectList.scss'), rel='stylesheet')

block append main
  

block append scripts
  script(src=require('pages/projectList/projectList.ts'))
