extends layout/page

block append head
  link(href=require('pages/projectList/projectList.scss'), rel='stylesheet')

block append main

  include global/layout/general/header/template
  +header().header_border
  .project 
    ul.breadcrumb
      li.breadcrumb__item главная
      li.breadcrumb__item.breadcrumb__item_active проекты
    .project__title ПРОЕКТЫ
    include global/components/pageBlocks/projectsList/template
   
    .project__wrapper-button
      .button.button_circle.project__button показать ещё
block append scripts
  script(src=require('pages/projectList/projectList.ts'))
