extends layout/page

block append head
  link(href=require('pages/project/project.scss'), rel='stylesheet')

block append main
  

block append scripts
  script(src=require('pages/project/project.ts'))
