@font-face {
  font-family: "manrope";
  src: url("src/fonts/Manrope-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "manrope";
  src: url("src/fonts/Manrope-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "tenor-sans";
  src: url("src/fonts/TenorSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "vetrino";
  src: url("src/fonts/Vetrino.otf");
}