@use 'styles/general/variables' as *;
@use 'components/ui/container' as *;

html {
  overflow-x: clip;
  font-size: 62.5%;
  //scroll-behavior: smooth;
  color: $black;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.container {
  @include container-x();
}

body {
  overflow-x: clip;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background: $blue;
  font-family: "onest", sans-serif;
}

.without-animations {
  transition: none !important;
}

html.disable-scroll {
  overflow: clip;

  body {
    overflow: clip;
  }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  box-sizing: border-box !important;
}


@media only screen and (max-width: 750px) {
  .disable-scroll {
    body {
      padding-right: 0;
    }
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}