@use 'src/styles/general/variables' as *;

html {
  overflow-x: clip;
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: $black;
}

.hidden {
  display: none;
}

body {
  overflow-x: clip;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: "onest", sans-serif;
}

html.disable-scroll {
  overflow: clip;

  body {
    overflow: clip;
  }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  box-sizing: border-box !important;
}


@media only screen and (max-width: 750px) {
  .disable-scroll {
    body {
      padding-right: 0;
    }
  }
}
