@use 'src/styles/general/variables' as *;
@use 'src/styles/utils/media' as *;

$sans-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$manrope-font: 'manrope', $sans-font;
$tenor-font: 'tenor-sans', $sans-font;

@mixin manrope-12() {
  font-family: $manrope-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
}


@mixin manrope-15() {
  font-family: $manrope-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
}

@mixin manrope-14() {
  font-family: $manrope-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

@mixin manrope-17() {
  font-family: $manrope-font;
  font-weight: 400;
  font-size: 17px;
  line-height: 145%;

}
@mixin manrope-17-m() {
  font-family: $manrope-font;
  font-weight: 500;
  font-size: 17px;
  line-height: 145%;

}
@mixin manrope-24() {
  font-family: $manrope-font;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.96px;

}

@mixin manrope-38() {
  font-family: $manrope-font;
  font-weight: 500;
  font-size: 38px;
  line-height: 115%;
}

@mixin tenor-30() {
  font-family: $tenor-font;
  font-size: 30px;
}

@mixin tenor-48() {
  font-family: $tenor-font;
  font-size: 48px;
  letter-spacing: -0.305px;

}
@mixin tenor-61() {
  font-family: $tenor-font;
  font-size: 61px;
  letter-spacing: -0.305px;
}
@mixin tenor-90() {
  font-family: $tenor-font;
  font-size: 90px;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: 0.9px;

}
@mixin tenor-248() {
  font-family: $tenor-font;
  font-size: 248px;
}

.title {
  @include manrope-17();
  display: flex;
  gap: 20px;
  height: min-content;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 90%;
  *{
    align-self: center;
  }
  &::before{
    content: '';
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    display: block;
  }
  &_white {
    color: $white;
    &::before {
      background-image: url('media/static/icons/vertical/vertical_small_white_logo.svg');
    }
  }
  &_gray{
    &::before {
      content: '';
      width: 50px;
      height: 50px;
      flex-shrink: 0;

      background-image: url('media/static/icons/vertical/vertical_small_gray_logo.svg');
      display: block;
    }
  }
  @media screen and (max-width: $tablet1200) {
    @include manrope-12();
    gap: 10px;
    letter-spacing: 0.48px;

    &::before{
      width: 32px;
      height: 32px;
      background-size: contain;
    }
  }
}
