:root {
  --init-width: 1920;

  @media only screen and (max-width: 1700px) {
    --init-width: 1440;
  }

  @media only screen and (max-width: 1380px) {
    --init-width: 1280;
  }

  // Возможно ещё промежуточный между 1370 и 600 понадобится
  @media only screen and (max-width: 1100px) {
    --init-width: 900;
  }

  @media only screen and (max-width: 600px) {
    --init-width: 375;
  }
}

$z-index-bg: 2;
$z-index-darken: 1;
$z-index-menu: 3;

$white: #FFF;
$black: #2E2E2E;
$gray: rgba(51, 51, 51, 0.45);
$orange: #F7A707;
$gray_1: #F6F6F6;

$transition-duration: 150ms;