$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;


$white: #FFF;
$black: #2E2E2E;
$blue: #0E2448;
$gray: #EEE;

$transition-duration: 150ms;

$parent-padding-1400: 80px;
$parent-padding-1200: 50px;
$parent-padding-mobile: 30px;
